*{
    box-sizing: border-box;
}
body{
  font-family: Cambria;
  font-weight: bold;
  margin: 0px;
}
header{
  color: white;
  background-color: #013f65;
  font-size: 2rem;
  margin: none;
  padding: 10px;
  text-align: center;
}
#lenny{
  font-size: 0.8rem;
  margin:0;
  font-weight: 0;
}
nav{
  background-color: #012f4c;
  color: white;
  text-align: center;
  padding: 5px;
}
a{
  text-decoration: none;
  color: white;
  padding: 5px;
  margin: 5px;
}
a:hover{
    color: rgb(255, 199, 15);
}
.main{
    width: 55%;
    margin-top: 20px;
    padding: 7rem;
    font-size: 1.25rem;
    display: inline-block;
    line-height: 1.6;
    text-align: center;
    height: 820px;
}
#left{
    float:left;
    width: 18%;
    margin: 100px 10px 10px 30px;
    border-radius: 10px;

}
.icon{
    width: 280px;
    margin:10px;
    border-radius: 5px;
}
#right{
    width: 20%;
    float: right;
}
#eca{
    width: 20%;
    float: right;
    margin-top: 100px;
}
li{
    list-style-position: inside;
    list-style-type: square;
}
span{
    font-size: 0.875rem;
    color: rgb(49, 49, 49);
}
#lh{
    font-size: 1.8rem;
}
#ig{
    width: 100px;
}
footer{
    text-align: center;
    background-color: #00273f;
    color: white;
}